@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;800&display=swap');

:root{
    --main-color: #10cab7;
    --line-height-regular : 2;
}


*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
}

.container{
    margin: 0 auto;
    padding: 0 10px;
}

/* Small Screens */
@media (min-width: 768px) {
    .container{
        width: 750px;
    }
}

/* Medium Screens */
@media (min-width: 992px) {
    .container{
        width: 970px;
    }
}

/* Large Screens */
@media (min-width: 1200px) {
    .container{
        width: 1140px;
    }
}


/* Header styles */
header{
    padding: 20px;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header #logo{
    width: 60px;
}
header nav{
    position: relative;
}
header nav:hover ul{
    display: block;
}
header nav .icon{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 30px;
    cursor: pointer;
}

header  nav .icon span{
    height: 2px;
    background-color: #333;
    margin-bottom: 4px;
}
header nav .icon span:first-child{
    width: 100%;
}
header nav .icon span:nth-child(2){
    width: 50%;
    transition: 0.03s ease-in-out;
}
header nav .icon span:last-child{
    width: 100%;
}

header  nav span.icon:hover  span:nth-child(2){
    width: 100%;
}

header nav ul{
    background-color: #f9f9f9e0;
    display: none;
    position: absolute;
    list-style: none;
    list-style: none;
    right: 0;
    top: calc(100% + 10px);
    min-width: 200px;
}
header nav ul::before{
    content: '';
    border: 10px solid;
    border-color: transparent transparent #e9e9e970 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}

header nav ul li a{
    display: block;
    padding: 15px;
    color: #333;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

header nav ul li a:hover{
    padding-left: 25px;
}
header nav ul li:not(:last-child){
    border-bottom: 1px solid #ddd;
}

section.landing{
    background-image: url(../images/landing-bg.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
}
section.landing .hero-headline{
    text-align: center;
    min-width: 200px;
    max-width: 100%;
}
section.landing .hero-headline h1{
    font-weight: bold;
    color: var(--main-color);
    font-size: 50px;
    margin: 0;
}
section.landing .hero-headline p{
    font-size: 18px;
    line-height: var(--line-height-regular);
}

section.features{
    background-color: #f6f6f6;
    padding: 20px 0;
}
/* Start Features Section */
section.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

section.features .feature{
    text-align: center;
}

section.features .feature i{
    color: var(--main-color);
    margin-bottom: 20px;
}

section.features .feature h3{
    font-weight: 800;
}
section.features .feature p{
    line-height: var(--line-height-regular);
}

/* End Features Section */